.home-container {
  margin-top: 4rem;
  text-align: center;

  .main-title {
    font-size: 2rem;
    margin-bottom: .75rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .button-wrapper {
    margin-top: 6rem;
  }
}